@page "/pdfcollector"

@using System.IO;
@using System.IO.Compression;

@inject IJSRuntime JS
@inject TuraIntranet.Services.Backoffice.PdfCollectorService pdfCollectorService

<p>Test</p>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            byte[]? bytes = await this.pdfCollectorService.GetBytes("4616099", "invoice");
            await this.JS.InvokeVoidAsync("SavePdfFile", "Document.pdf", Convert.ToBase64String(bytes));
        }
    }
}
