<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © @DateTime.Now.Year <a target="_blank" href="https://designreset.com">Tura Scandinavia AB</a>.</p> All rights reserved.
    </div>
</div>