@inherits LayoutComponentBase

<PageTitle>TuraIntranet</PageTitle>

<AuthorizeView Roles="User,Administrator">
    <Authorized>

        <Navbar />

        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container " id="container">

            <div class="overlay"></div>
            <div class="search-overlay"></div>

            <Sidebar />

            @Body

        </div>
        <!-- END MAIN CONTAINER -->

    </Authorized>

    <NotAuthorized>
        <TuraIntranet.Pages.Login />
    </NotAuthorized>
</AuthorizeView>
