@inject PageNavigationService PageNavService

<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">

            @if (this.PageNavService.IsPageActive("Index") || this.PageNavService.IsPageActive(""))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Logistik"))
            {
                <li class="menu">
                    <a href="#logistik" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="logistik" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Inleveranser"))
                        {
                            <li class="active">
                                <a href="/"> Inleveranser </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Inleveranser </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Orderstatus"))
                        {
                            <li class="active">
                                <a href="/"> Orderstatus </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Orderstatus </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Consignor"))
                        {
                            <li class="active">
                                <a href="/"> Consignor Kollisök </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Consignor Kollisök </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("RMA-Instruktioner"))
                        {
                            <li class="active">
                                <a href="/"> RMA-Instruktioner </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> RMA-Instruktioner </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#logistik" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="logistik" data-parent="#accordionExample">
                        <li>
                            <a href="/"> Inleveranser </a>
                        </li>
                        <li>
                            <a href="/"> Orderstatus </a>
                        </li>
                        <li>
                            <a href="/"> Consignor Kollisök </a>
                        </li>
                        <li>
                            <a href="/"> RMA-Instruktioner </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Kunder"))
            {
                <li class="menu">
                    <a href="#kunder" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="kunder" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Kunduppgifter"))
                        {
                            <li class="active">
                                <a href="/"> Kunduppgifter </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Kunduppgifter </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Specialkunder"))
                        {
                            <li class="active">
                                <a href="/"> Specialkunder </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Specialkunder </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#kunder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="kunder" data-parent="#accordionExample">
                        <li>
                            <a href="/"> Kunduppgifter </a>
                        </li>
                        <li>
                            <a href="/"> Specialkunder </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Reklam"))
            {
                <li class="menu">
                    <a href="#reklam" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="reklam" data-parent="#accordionExample">

                        <li>
                            <a href="/"> PDF-Generator </a>
                        </li>

                        @if (this.PageNavService.IsPageActive("Claim"))
                        {
                            <li class="active">
                                <a href="/"> Claim </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Claim </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#reklam" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="reklam" data-parent="#accordionExample">
                        <li>
                            <a href="/"> PDF-Generator </a>
                        </li>
                        <li>
                            <a href="/"> Claim </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsPageActive("Filer"))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsPageActive("Info Ch."))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Info Ch. </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Info Ch. </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsPageActive("IT-Admin"))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> IT-Admin </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> IT-Admin </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Backoffice"))
            {
                <li class="menu">
                    <a href="#backoffice" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="backoffice" data-parent="#accordionExample">

                        @if (this.PageNavService.IsPageActive("Koss RMA"))
                        {
                            <li class="active">
                                <a href="/"> Koss RMA </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Koss RMA </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("PDF-Arkiv"))
                        {
                            <li class="active">
                                <a href="/"> PDF-Arkiv (Collector) </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> PDF-Arkiv (Collector) </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#backoffice" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="backoffice" data-parent="#accordionExample">
                        <li>
                            <a href="/"> Koss RMA </a>
                        </li>
                        <li>
                            <a href="/"> PDF-Arkiv (Collector) </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->
@code {

}