@inject PageNavigationService PageNavService

<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">

            @if (this.PageNavService.IsPageActive("Index") || this.PageNavService.IsPageActive(""))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Logistik"))
            {
                <li class="menu">
                    <a href="#logistik" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="logistik" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Inleveranser"))
                        {
                            <li class="active">
                                <a href="/inleveranser"> Inleveranser </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/inleveranser"> Inleveranser </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Orderstatus"))
                        {
                            <li class="active">
                                <a href="/orderstatus"> Orderstatus </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/orderstatus"> Orderstatus </a>
                            </li>
                        }

                        <li>
                            <a href="http://www.consignorportal.com/"> Consignor Kollisök </a>
                        </li>

                        @if (this.PageNavService.IsPageActive("RMA-Instruktioner"))
                        {
                            <li class="active">
                                <a href="/"> RMA-Instruktioner </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> RMA-Instruktioner </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#logistik" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="logistik" data-parent="#accordionExample">
                        <li>
                            @*<NavLink class="nav-link" href="inleveranser">
                        Inleveranser
                        </NavLink>*@
                            <a href="/inleveranser"> Inleveranser </a>
                        </li>
                        <li>
                            @*<NavLink class="nav-link" href="orderstatus">
                        Orderstatus
                        </NavLink>*@
                            <a href="/orderstatus"> Orderstatus </a>
                        </li>
                        <li>
                            <a href="http://www.consignorportal.com/"> Consignor Kollisök </a>
                        </li>
                        <li>
                            <a href="/"> RMA-Instruktioner </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Kunder"))
            {
                <li class="menu">
                    <a href="#kunder" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="kunder" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Kunduppgifter"))
                        {
                            <li class="active">
                                <a href="/customers"> Kunduppgifter </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/customers"> Kunduppgifter </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Specialkunder"))
                        {
                            <li class="active">
                                <a href="/specialcustomers"> Specialkunder </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/specialcustomers"> Specialkunder </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#kunder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="kunder" data-parent="#accordionExample">
                        <li>
                            <a href="/customers"> Kunduppgifter </a>
                        </li>
                        <li>
                            <a href="/specialcustomers"> Specialkunder </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Reklam"))
            {
                <li class="menu">
                    <a href="#reklam" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="reklam" data-parent="#accordionExample">

                        <li>
                            <a href="https://pdf.turascandinavia.com/"> PDF-Generator </a>
                        </li>

                        @if (this.PageNavService.IsPageActive("Claim"))
                        {
                            <li class="active">
                                <a href="/"> Claim </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Claim </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#reklam" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="reklam" data-parent="#accordionExample">
                        <li>
                            <a href="https://pdf.turascandinavia.com/"> PDF-Generator </a>
                        </li>
                        <li>
                            <a href="/"> Claim </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsPageActive("Filer"))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsPageActive("Info Ch."))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                            <span> Info Ch. </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                            <span> Info Ch. </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsPageActive("IT-Admin"))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> IT-Admin </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> IT-Admin </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Backoffice"))
            {
                <li class="menu">
                    <a href="#backoffice" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="backoffice" data-parent="#accordionExample">

                        @if (this.PageNavService.IsPageActive("Koss RMA"))
                        {
                            <li class="active">
                                <a href="/"> Koss RMA </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> Koss RMA </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("PDF-Arkiv"))
                        {
                            <li class="active">
                                <a href="/"> PDF-Arkiv (Collector) </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/"> PDF-Arkiv (Collector) </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#backoffice" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="backoffice" data-parent="#accordionExample">
                        <li>
                            <a href="/"> Koss RMA </a>
                        </li>
                        <li>
                            <a href="/"> PDF-Arkiv (Collector) </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->
@code {
    protected override void OnAfterRender(bool firstRender)
    {
        this.StateHasChanged();
    }
}