@inject PageNavigationService PageNavService
<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">

            @if (this.PageNavService.IsPageActive("Index") || this.PageNavService.IsPageActive(""))
            {
                <li class="menu">
                    <a href="/" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span> Dashboard </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Logistik"))
            {
                <li class="menu">
                    <a href="#logistik" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="logistik" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Inleveranser"))
                        {
                            <li class="active">
                                <a href="/inleveranser"> Inleveranser </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/inleveranser"> Inleveranser </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("AddInleverans"))
                        {
                            <li class="active">
                                <a href="/lagginleverans"> Lägg till Inleverans </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/lagginleverans"> Lägg till Inleverans </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Orderstatus"))
                        {
                            <li class="active">
                                <a href="/ordersnassjo"> Orderstatus Nässjö</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/ordersnassjo"> Orderstatus Nässjö</a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("OrderstatusNav"))
                        {
                            <li class="active">
                                <a href="/ordersnav"> Orderstatus Nav</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/ordersnav"> Orderstatus Nav</a>
                            </li>
                        }

                        <li>
                            <a href="http://www.consignorportal.com/" target="_blank"> Consignor Kollisök </a>
                        </li>

                        @if (this.PageNavService.IsPageActive("RmaInformation"))
                        {
                            <li class="active">
                                <a href="/"> RMA-Instruktioner </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/rmainfo"> RMA-Instruktioner </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#logistik" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>                            <span> Logtistik </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="logistik" data-parent="#accordionExample">
                        <li>
                            @*<NavLink class="nav-link" href="inleveranser">
                                Inleveranser
                                </NavLink>*@
                            <a href="/inleveranser"> Inleveranser </a>
                        </li>
                        <li>
                            <a href="/lagginleverans"> Lägg till Inleverans </a>
                        </li>
                        <li>
                            @*<NavLink class="nav-link" href="orderstatus">
                                Orderstatus
                                </NavLink>*@
                            <a href="/ordersnassjo"> Orderstatus Nässjö</a>
                        </li>
                        <li>
                            @*<NavLink class="nav-link" href="orderstatus">
                                Orderstatus
                                </NavLink>*@
                            <a href="/ordersnav"> Orderstatus Nav</a>
                        </li>
                        <li>
                            <a href="http://www.consignorportal.com/" target="_blank"> Consignor Kollisök </a>
                        </li>
                        <li>
                            <a href="/rmainfo"> RMA-Instruktioner </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Kunder"))
            {
                <li class="menu">
                    <a href="#kunder" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="kunder" data-parent="#accordionExample">
                        @if (this.PageNavService.IsPageActive("Kunduppgifter"))
                        {
                            <li class="active">
                                <a href="/customers"> Kunduppgifter </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/customers"> Kunduppgifter </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("Specialkunder"))
                        {
                            <li class="active">
                                <a href="/specialcustomers"> Specialkunder </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/specialcustomers"> Specialkunder </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("AddSpecialKund"))
                        {
                            <li class="active">
                                <a href="/addspecialcustomer"> Lägg till Specialkund </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/addspecialcustomer"> Lägg till Specialkund </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#kunder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                            <span> Kunder </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="kunder" data-parent="#accordionExample">
                        <li>
                            <a href="/customers"> Kunduppgifter </a>
                        </li>
                        <li>
                            <a href="/specialcustomers"> Specialkunder </a>
                        </li>
                        <li>
                            <a href="/addspecialcustomer"> Lägg till Specialkund </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Reklam"))
            {
                <li class="menu">
                    <a href="#reklam1" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="reklam1" data-parent="#accordionExample">

                        <li>
                            <a href="https://pdf.turascandinavia.com/" target="_blank"> PDF-Generator </a>
                        </li>

                        @if (this.PageNavService.IsPageActive("Claim"))
                        {
                            <li class="active">
                                <a href="/claims"> Claim </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/claims"> Claim </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("ClaimAdd"))
                        {
                            <li class="active">
                                <a href="/claimadd"> Lägg till Claim </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/claimadd"> Lägg till Claim </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#reklam1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                            <span> Reklam </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="reklam1" data-parent="#accordionExample">
                        <li>
                            <a href="https://pdf.turascandinavia.com/" target="_blank"> PDF-Generator </a>
                        </li>
                        <li>
                            <a href="/claims"> Claim </a>
                        </li>
                        <li>
                            <a href="/claimadd"> Lägg till Claim </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Info"))
            {
                <li class="menu">
                    <a href="#info" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                            <span> Info Ch. </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="info" data-parent="#accordionExample">

                        @if (this.PageNavService.IsPageActive("Info"))
                        {
                            <li class="active">
                                <a href="/info"> Info </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/info"> Info </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("AddInfo"))
                        {
                            <li class="active">
                                <a href="/addinfo"> Lägg till Info </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/addinfo"> Lägg till Info </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#info" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                            <span> Info Ch. </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="info" data-parent="#accordionExample">
                        <li>
                            <a href="/info"> Info </a>
                        </li>
                        <li>
                            <a href="/addinfo"> Lägg till Info </a>
                        </li>
                    </ul>
                </li>
            }

            @if (this.PageNavService.IsPageActive("EANGenerator"))
            {
                <li class="menu">
                    <a href="/eangenerator" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dribbble"><circle cx="12" cy="12" r="10"></circle><path d="M8.56 2.75c4.37 6.03 6.02 9.42 8.03 17.72m2.54-15.38c-3.72 4.35-8.94 5.66-16.88 5.85m19.5 1.9c-3.5-.93-6.63-.82-8.94 0-2.58.92-5.01 2.86-7.44 6.32"></path></svg>
                            <span> EAN Generator </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/eangenerator" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dribbble"><circle cx="12" cy="12" r="10"></circle><path d="M8.56 2.75c4.37 6.03 6.02 9.42 8.03 17.72m2.54-15.38c-3.72 4.35-8.94 5.66-16.88 5.85m19.5 1.9c-3.5-.93-6.63-.82-8.94 0-2.58.92-5.01 2.86-7.44 6.32"></path></svg>
                            <span> EAN Generator </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsPageActive("Files"))
            {
                <li class="menu">
                    <a href="/files" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/files" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                            <span> Filer </span>
                        </div>
                    </a>
                </li>
            }

            @*@if (this.PageNavService.IsPageActive("Info Ch."))
                {
                <li class="menu">
                <a href="/info" data-active="true" aria-expanded="true" class="dropdown-toggle">
                <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                            <span> Info Ch. </span>
                </div>
                </a>
                </li>
                }
                else
                {
                <li class="menu">
                <a href="/info" data-active="false" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>                            <span> Info Ch. </span>
                </div>
                </a>
                </li>
                }*@

            <AuthorizeView Roles="Administrator">
                <Authorized>
                    @if (this.PageNavService.IsPageActive("IT-Admin"))
                    {
                        <li class="menu">
                            <a href="/networks" data-active="true" aria-expanded="true" class="dropdown-toggle">
                                <div class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    <span> IT-Admin </span>
                                </div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu">
                            <a href="/networks" data-active="false" aria-expanded="false" class="dropdown-toggle">
                                <div class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                    <span> IT-Admin </span>
                                </div>
                            </a>
                        </li>
                    }
                </Authorized>
            </AuthorizeView>

            @if (this.PageNavService.IsPageActive("PriceList"))
            {
                <li class="menu">
                    <a href="/pricelist" data-active="true" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg>
                            <span> Pris Lista </span>
                        </div>
                    </a>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="/pricelist" data-active="false" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database"><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path><path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path></svg>
                            <span> Pris Lista </span>
                        </div>
                    </a>
                </li>
            }

            @if (this.PageNavService.IsSectionActive("Backoffice"))
            {
                <li class="menu">
                    <a href="#backoffice" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="backoffice" data-parent="#accordionExample">

                        @if (this.PageNavService.IsPageActive("KossRMA"))
                        {
                            <li class="active">
                                <a href="/kossrma"> Koss RMA </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/kossrma"> Koss RMA </a>
                            </li>
                        }

                        @if (this.PageNavService.IsPageActive("pdfcollector"))
                        {
                            <li class="active">
                                <a href="/pdfcollector"> PDF-Arkiv (Collector) </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/pdfcollector"> PDF-Arkiv (Collector) </a>
                            </li>
                        }

                    </ul>
                </li>
            }
            else
            {
                <li class="menu">
                    <a href="#backoffice" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>                            <span> Backoffice </span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="backoffice" data-parent="#accordionExample">
                        <li>
                            <a href="/kossrma"> Koss RMA </a>
                        </li>
                        <li>
                            <a href="/pdfcollector"> PDF-Arkiv (Collector) </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        this.StateHasChanged();
    }
}