@page "/"

@using System.DirectoryServices.AccountManagement
@using TuraIntranet.Authentication

@inject IJSRuntime JS
@inject PageNavigationService PageNavService
@inject VisitorsService VisitorsService
@inject AuthenticationStateProvider authStateProvider

<PageTitle>Index</PageTitle>

@*@attribute [Authorize(Roles = "User")]*@

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">

            <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                <div class="widget widget-content-area br-4">
                    <div class="widget-one">

                        <h6>Welcome to Tura Intranet</h6>
                        
                    </div>
                </div>
            </div

            @if(this.loggedInUser == "Yad.Mohamad")
            {
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                <div class="widget widget-content-area br-4">
                    <div class="widget-one">

                        <p>Total website visits since since server restart: @(this.VisitorsService.GetTotalWebsiteVisits())</p>
                        <p>Total page visits since since server restart: @(this.VisitorsService.GetTotalPageVisit())</p>
                        
                    </div>
                </div>
            </div>
            }

        </div>

    </div>
    <Footer />
</div>

@code {
    private string loggedInUser = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var loggedInUser = (Authentication.CustomAuthenticationStateProvider)authStateProvider;
        var state = await loggedInUser.GetAuthenticationStateAsync();
        this.loggedInUser = state?.User?.Identity?.Name ?? "";

        this.PageNavService.UpdateActiveSection("");
        this.PageNavService.UpdateActivePage("Index");
    }

    public void login()
    {
        PrincipalContext context = new PrincipalContext(ContextType.Domain, "192.168.1.110", null, "npack", "hama");
        UserPrincipal user = new UserPrincipal(context);
        user.SamAccountName = "npack";
        PrincipalSearcher searcher = new PrincipalSearcher(user);
        var userPrincipal = searcher.FindOne();
        var userGroups = new List<string>();

        if (userPrincipal != null)
        {
            Console.WriteLine("Logged In");

            userGroups = userPrincipal.GetGroups(context).Select(x => x.Name).ToList();

            foreach (var group in userGroups)
            {
                Console.WriteLine(group);
            }

            if (!userGroups.Contains("Tura Intranet Users"))
            {
                //Saknar behörighet
            }
            else
            {

            }
        }
        else
        {
            Console.WriteLine("Not Logged In"); ;
        }

        this.StateHasChanged();
    }
}