@page "/info/{id}"

@inject PageNavigationService PageNavService
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject TuraIntranet.Services.Info.InfoService InfoService
@inject Services.NotificationService NotificationService
@inject VisitorsService VisitorsService

<PageTitle>Meddelanden - Visa</PageTitle>

<link href="assets/css/apps/invoice-edit.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="plugins/dropify/dropify.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/forms/theme-checkbox-radio.css">
<link href="plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="plugins/table/datatable/dt-global_style.css">

<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row invoice layout-top-spacing layout-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="doc-container">

                    <div class="row">
                        <div class="col-xl-6">

                            <div class="invoice-content">

                                <div class="invoice-detail-body">

                                    @if (this.infoMessageModel != null)
                                    {
                                        <div class="invoice-detail-header">

                                            <div class="row justify-content-between">

                                                <div class="col-xl-12 invoice-address-client">

                                                    <div class="invoice-address-client-fields">

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Rubrik</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control form-control-sm" placeholder="Rubrik" @bind-value="@this.infoMessageModel.Header">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Meddelande</label>
                                                            <div class="col-sm-9">
                                                                <textarea class="form-control" placeholder="Meddelande" @bind=@this.infoMessageModel.Message rows="5" />
                                                            </div>
                                                        </div>

                                                        @*<div class="form-group row">
                                                            <label class="col-sm-3 col-form-label col-form-label-sm">Aktiverad</label>
                                                            <div class="col-sm-9">
                                                                <div class="custom-control custom-checkbox checkbox-info">
                                                                    <input type="checkbox" class="custom-control-input" id="sChkbox" checked="@this.specialCustomer.IsDeleted" @onclick=@OnClickDeleted>
                                                                    <label class="custom-control-label" for="sChkbox"></label>
                                                                </div>
                                                            </div>
                                                        </div>*@

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    }
                                    else
                                    {
                                        <p>Could not retrieve data</p>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">

                            <div class="invoice-actions-btn">
                                <div class="invoice-action-btn">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-4">
                                            <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@Save>Spara</button>
                                        </div>
                                        <div class="col-xl-12 col-md-4">
                                            <button class="btn btn-dark btn-block mb-4 mr-2" @onclick=@Delete>Radera</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
    private TuraIntranet.Data.Info.InfoMessageModel? infoMessageModel;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this.VisitorsService.IncrementPageVisit();
            this.PageNavService.UpdateActiveSection("Info");
            this.PageNavService.UpdateActivePage("Info");

            if (this.Id != null)
            {
                if(int.TryParse(this.Id, out int id))
                {
                    this.infoMessageModel = await this.InfoService.GetInfoMessageAsync(id);
                    this.StateHasChanged();
                }
            }
        }
    }

    private async Task Save()
    {
        await this.InfoService.UpdateInfoMessageAsync(this.infoMessageModel.Id, this.infoMessageModel);
        this.InfoService.Flush();
        await this.NotificationService.AlertSuccess("Info Uppdaterad");
    }

    private async Task Delete()
    {
        await this.InfoService.DeleteInfoMessageAsync(this.infoMessageModel.Id);
        this.InfoService.Flush();
        await this.NotificationService.AlertSuccess("Info Raderad");
    }
}
